body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#calc {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    background-color: gray;
    padding: 10px;
    gap: 5px;
    border-radius: 5px;
}
#val {
    width: 100%;
    text-align: right;
    margin: 0;
    background-color: white;
    border-radius: 2px;
    padding: 0px 5px 0px 5px;
    overflow-x: auto;
}
#clearout {
    width: 100%;
    display: flex;
    justify-content: right;
}
#clear {
    width: 150px;
    height: 37.5px;
    font-size: 20px;
}
#in {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
}
#in>button {
    width: 75px;
    height: 75px;
    font-size: 20px;
}